{% extends "layout.html" %}
{% block page_title %}Approvals{% endblock %}
{% block content %}
<div class="main-content">
<div class="page-content">
<div class="container-fluid">
   <div class="row">
      <div class="col-12">
         <div class="row">
            <div class="col-lg-12">
               <div class="card">
                  <div class="card-header d-flex align-items-center">
                     <!-- <h4 class="card-title mb-0">Department-Wide Projects</h4> -->
                     <div class="ms-auto d-flex gap-2">

                        <div class="d-flex flex-wrap gap-2">
                           <!-- Search Bar -->
                           <div style="width: 200px;">
                              <input type="text" id="searchDeptProjects" class="form-control" placeholder="Type a keyword...">
                          </div>
                           <div style="width: 180px;">
                              <select class="form-select" id="statusFilter">
                                 <option value="all">Status: All</option>
                                 <option value="Ongoing">Ongoing</option>
                                 <option value="On Hold">On Hold</option>
                                 <option value="Cancelled">Cancelled</option>
                                 <option value="Completed">Completed</option>
                              </select>
                           </div>
                           <div style="width: 180px;">
                              <select class="form-select" id="priorityFilter">
                                 <option value="all">Priority: All</option>
                                 <option value="Low">Low</option>
                                 <option value="Medium">Medium</option>
                                 <option value="High">High</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="card-body">
                     <div id="table10-gridjs"></div>
                     <!-- ORIGINAL TABLE (hidden but used by Grid.js) -->
                     <table id="projectsApproval" class="table d-none">
                        <thead>
                           <tr>
                              <th style="width: 190px;">Task Name</th>
                              <th>Project Name</th>
                              <th>Status</th>
                              <th width="200px">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>
                                 <a href="{{ url_for('project.task_details') }}" class="text-dark fw-medium">
                                 Task 5
                                 </a>
                              </td>
                              <td>
                                 <a href="{{ url_for('project.project_details') }}" class="text-dark fw-medium">
                                 Osint
                                 </a>
                              </td>
                              <td>
                                 <div class="badge badge-soft-warning font-size-12">To be reviewed</div>
                              </td>
                              <td class="text-nowrap">
                                <button class="btn btn-sm btn-success me-1" data-bs-toggle="modal" data-bs-target=".notes-modal-approve" title="Approve" onclick="approveNoteModal('H21', 'ipsum dolor sit amet consectetur adipisicing elit. Ex inventore quis fugiat, tenetur blanditiis reiciendis eos, eum dolorum sint soluta veritatis, laborum veniam omnis.', '-windyl 12/25/2025(edit)')">
                                    <i class="mdi mdi-check"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target=".notes-modal" title="Disapprove">
                                    <i class="mdi mdi-close"></i>
                                </button>
                            </td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="{{ url_for('project.task_details') }}" class="text-dark fw-medium">
                                 Task 4
                                 </a>
                              </td>
                              <td>
                                 <a href="{{ url_for('project.project_details') }}" class="text-dark fw-medium">
                                 Osint
                                 </a>
                              </td>
                              <td>
                                 <div class="badge bg-soft-primary text-primary font-size-12">Ongoing</div>
                              </td>
                              <td class="text-nowrap">
                                 <div class="dropdown">
                                    <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                    <div class="dropdown-menu dropdown-menu-end shadow">
                                       <a class="dropdown-item"
                                          data-bs-toggle="modal" 
                                          data-bs-target=".notes-modal">
                                       Submit
                                       </a>
                                       <a class="dropdown-item"
                                          data-bs-toggle="modal" 
                                          data-bs-target=".notes-modal">
                                       Edit
                                       </a>
                                       <a class="dropdown-item">Hold</a>
                                       <a class="dropdown-item text-danger" 
                                          onclick="confirmDelete('H20')">Delete</a>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="{{ url_for('project.task_details') }}" class="text-dark fw-medium">
                                 Task 3
                                 </a>
                              </td>
                              <td>
                                 <a href="{{ url_for('project.project_details') }}" class="text-dark fw-medium">
                                 Osint
                                 </a>
                              </td>
                              <td>
                                 <div class="badge bg-soft-danger text-danger font-size-12">Rejected</div>
                              </td>
                              <td class="text-nowrap">
                                <button class="btn btn-sm btn-primary"
                                   data-bs-toggle="modal"
                                   data-bs-target="#revertModal">
                                Revert
                                </button>
                             </td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="{{ url_for('project.task_details') }}" class="text-dark fw-medium">
                                 task 2
                                 </a>
                              </td>
                              <td>
                                 <a href="{{ url_for('project.project_details') }}" class="text-dark fw-medium">
                                 Osint
                                 </a>
                              </td>
                              <td>
                                 <div class="badge bg-soft-secondary text-secondary font-size-12">On Hold</div>
                              </td>
                              <td class="text-nowrap">
                                <button class="btn btn-sm btn-primary"
                                   data-bs-toggle="modal"
                                   data-bs-target=".notes-modal"
                                   form="notesForm">
                                Follow Up
                                </button>
                             </td>
                           </tr>
                           <tr>
                              <td>
                                 <a href="{{ url_for('project.task_details') }}" class="text-dark fw-medium">
                                 Task 1
                                 </a>
                              </td>
                              <td>
                                 <a href="{{ url_for('project.project_details') }}" class="text-dark fw-medium">
                                 Osint
                                 </a>
                              </td>
                              <td>
                                 <div class="badge bg-soft-success text-success font-size-12">Approved</div>
                              </td>
                              <td>
                                 <p>Approved on : 11/11/2026 20:00</p>
                                 <footer class="blockquote-footer mb-0">  -Lurs </footer>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end row -->
</div>


<!-- Notes Modal -->
<div class="modal fade notes-modal" data-bs-backdrop="static" id="note-modal" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Add Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
         </div>
         <div class="modal-body">
            <textarea id="notesInput" class="form-control" rows="4"
               placeholder="Enter your note here..."></textarea>
            <input type="hidden" id="activeNotesTarget">
            <input type="hidden" id="actionType">
         </div>
         <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" onclick="saveNote()">Save Note</button>
         </div>
      </div>
   </div>
</div>

<!-- Notes Preview -->
<div class="modal fade" id="notes-modal-preview" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="preview-note-title">Sub-Task Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="preview-note-body" class="text-dark" style="white-space: pre-wrap;"></p>
                <footer id="preview-note-footer" class="blockquote-footer mt-3"></footer>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade notes-modal-approve" data-bs-backdrop="static" id="notes-modal-approve" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approve-note-title">Approve Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          <p id="approve-note-body" class="text-dark" style="white-space: pre-wrap;"></p>
          <footer id="approve-note-footer" class="blockquote-footer mt-3"></footer>
      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" onclick="saveNote()">Confirm Approval</button>
      </div>
    </div>
  </div>
</div>


<!-- Revert modal -->
<div class="modal fade" id="revertModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <div class="modal-header">
          <h5 class="modal-title">Revert Task</h5>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <div class="modal-body">
          <p class="mb-2">
            This will move the task back to <strong>“To be reviewed”</strong>.
          </p>
  
        <div class="modal-footer">
          <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-primary">Confirm Revert</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}