<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Testing | Ashgard To-Do</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">

    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='assets/css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body>

        <div class="container-fluid">
            <div class="row min-vh-100_">

                <div class="col-12  d-flex flex-column justify-content-center align-items-center bg-light my-5">
                    <div class="mt-3_ mb-5_ my-3">
                        <span id="messages_span">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }} small mb-2 text-center">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </span>
                        <!-- Celery -->
                        <div id="db-test-status" class="small text-muted mb-2 d-none"></div>
                        <div id="db-test-result" class="mb-2"></div>
                        <!-- Backup -->
                        <div id="db-test-status_BG" class="small text-muted mb-2 d-none"></div>
                        <div id="db-test-result_BG" class="mb-2"></div>
                    </div>    
                    
                </div>

                <!-- <div class="col-md-6  d-flex flex-column justify-content-center align-items-center bg-light"> -->
                <div class="col-md-6 ">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="mt-5_">
                                <h5>Celery</h5>
                                <ul>
                                    <li><small>runs a function in the background, good for running multiple functions at the same time</small></li>
                                    <li><small>this function test the connection to the <strong>remote DB</strong></small></li>

                                    <li class="mt-3"><small>there are 2 ways background task are done: </small>
                                        <ul>
                                            <li><small>(BLOCKING): clicking <strong class="text-primary">Button</strong>, runs the function and waits for it to be done </small></li>
                                            <li><small>(POLLING): <strong class="text-primary">Button</strong> + <strong class="text-primary">checkbox</strong>, runs the function and counts the seconds its running </small></li>
                                        </ul>
                                    </li>
                                </ul>
                                                            

                                <form action="{{ url_for('test_bp.connect_remote_db') }}" method="POST">
                                    <button type="submit" class="btn btn-warning w-100 waves-effect waves-light" id="login-submit-btn">test DB</button>
                                    <div class="form-check my-3">
                                        <label class="form-check-label" for="">progressbar bg test</label>
                                        <input type="checkbox" class="form-check-input" name="progbar" id="progbar">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="mt-5_">
                                <h5>backup ALL tables to remote db test</h5>
                                <p><small>copy contents of the <strong class="text-primary">Local</strong> database to <strong class="text-primary">Remote</strong></small></p>
                                <!-- <div class="mt-3 mb-5">
                                    <div id="db-test-status_BG" class="small text-muted mb-2 d-none"></div>
                                    <div id="db-test-result_BG" class="mb-2"></div>
                                </div> -->
                                
                                <button class="btn btn-primary w-100 waves-effect waves-light" id="backupBtn">Backup Local DB to Remote</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="card">
                        <div class="card-body p-4">
                            <h5>Outbox Queue testing</h5>
                            <small>
                                <p class="mt-3">For every action recorded in the Local DB, it is recorded in a Outbox table and set to.</p>
                                <ul>
                                    <li>In this example, we create a new <strong class="text-primary">Project</strong> and assign <strong class="text-primary">ProjectMembers</strong></li>
                                    
                                    <li>this calls function in the /background_task</li>
                                    <li>it also saves a record in the <strong class="text-danger">OutboxEvents</strong> table</li>
                                    <li></li>
                                </ul>
                            </small>
                               

                            <div class="mt-5">
                                <form action="{{ url_for('test_bp.evenquetest') }}" method="POST">
                                    <button type="submit" class="btn btn-success w-100 waves-effect waves-light">create & queue sample project</button>
                                </form>
                            </div>
                            <div class="mt-3">
                                <form action="{{ url_for('test_bp.drainevent') }}" method="POST">
                                    <button type="submit" class="btn btn-danger w-100 waves-effect waves-light">queue & update remote DB</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        

    <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/metismenujs/metismenujs.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/libs/eva-icons/eva.min.js') }}"></script>

    <script>
        var form    = document.querySelector('form');
        var progbar = document.getElementById('progbar');
        var btn     = document.getElementById('login-submit-btn');
        var messages_span = document.getElementById('messages_span');
        var backupBtn = document.getElementById('backupBtn');

        var startUrl = "{{ url_for('test_bp.connect_remote_db') }}";
        var backup   = "{{ url_for('test_bp.trigger_backup') }}"
        var statusEl = document.getElementById('db-test-status');
        var resultEl = document.getElementById('db-test-result');

        var statusEl_BG = document.getElementById('db-test-status_BG');
        var resultEl_BG = document.getElementById('db-test-result_BG');
        var loading  = 0;
        var bk = '';

        (function() {
            if (!form || !btn) return;
            var originalLabel = btn.textContent.trim();
            form.addEventListener('submit', function(e) {
                messages_span.innerHTML = "";
                e.preventDefault();
                if (progbar.checked){
                    // console.log(progbar.checked);
                    non_block(startUrl, bk=false);
                } else {
                    if (form.dataset.submitting === '1') return;
                    messages_span.innerHTML = "";
                    
                    btn.disabled = true;
                    btn.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Checking in...';
                    form.dataset.submitting = '1';
                    setTimeout(function() {
                        form.submit();
                    }, 500);
                }
            });
        })();
        

        function BtnStatus_Alert(running=null, start=null, end=null, func_name){
            // backup ALL tables
            console.log('func_name: '+func_name)
            console.log('running: '+running)
            console.log('start: '+start)
            console.log('end: '+end)

            if (func_name == 'backup'){
                if (running == true){
                    backupBtn.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Backing up...'
                    backupBtn.classList.toggle('btn-secondary')
                }
                if (start == true){
                    backupBtn.disabled = false;
                    backupBtn.innerHTML = 'Backup Local DB to Remote';
                    backupBtn.classList.remove('btn-secondary')
                    backupBtn.classList.add('btn-primary')
                }
            }


            if (func_name == 'celery'){
                if (running == true){
                    btn.disabled = true;
                    btn.innerHTML = '<span class="spinner-border spinner-border-sm me-2"></span>Running…';
                }
                if (start == true){
                    btn.disabled = false;
                    btn.textContent = 'test DB';
                    resultEl.innerHTML = '<div class="alert alert-danger small">' + 'asd' + '</div>';
                }

            }
            

        }
        
        function poll(taskId, bk){
                  
            var url = "{{ url_for('test_bp.get_result', task_id='__ID__') }}".replace('__ID__', taskId);
            fetch(url).then(r => r.json()).then(function(data) {
                console.log(data)
                loading++;
                if (!data.ready) {
                    // statusEl.textContent = 'State: ' + data.state + '…';
                    // statusEl.classList.remove('d-none');
                    if (bk == true){
                        statusEl.textContent = 'Polling…';
                        resultEl.innerHTML = '<div class="alert alert-secondary small"> State: ' + data.state + '...'+loading+' </div>';
                    }else{
                        statusEl_BG.textContent = 'Quering remote database…';
                        resultEl_BG.innerHTML = '<div class="alert alert-secondary small"> State: ' + data.state + '...'+loading+' </div>';
                    }
                    
                    // statusEl.innerHTML = 'Seconds: '+loading;
                    setTimeout(function() { poll(taskId, bk); }, 1000);
                    return;
                }
                
                // statusEl.classList.add('d-none');
                btn.disabled = false;
                btn.textContent = 'test DB';
                var res = data.result;
            
                if (res && res.success){
                    statusEl.textContent = '';
                    BtnStatus_Alert(running=false, start=true, end=null, func_name='backup')

                    if (res.tables){
                        // console.log("BK: "+bk)    
                        bk = false
                        resultEl.innerHTML = '';

                        statusEl_BG.innerHTML = 'Seconds: '+loading;
                        resultEl_BG.innerHTML = '<div class="alert alert-success small">' + "Backup: " + (res.message || 'All Tables updated') + '</div>';


                    }else{
                        statusEl.innerHTML = 'Seconds: '+loading;
                        resultEl.innerHTML = '<div class="alert alert-success small">' + (res.message || 'OK') + '</div>';
                    }

                }
                else{                    
                    if (res.tables){
                        statusEl_BG.innerHTML = 'Seconds: '+loading;
                        resultEl_BG.innerHTML = '<div class="alert alert-success small">' + "Backup: " + (res.message || 'All Tables updated') + '</div>';
                    }else{
                        statusEl.innerHTML = 'Seconds ??: '+loading;
                        resultEl.innerHTML = '<div class="alert alert-danger small">' + ((res && res.error) ? res.error : JSON.stringify(res)) + '</div>';
                    }
                }
            }).catch(function(err) {
                btn.disabled = false;
                resultEl.innerHTML = '<div class="alert alert-danger small">' + err + '</div>';

                if (bk == true){
                    resultEl_BG.innerHTML = '<div class="alert alert-danger small"> Backup: ' + err + '</div>';
                }
            });
        }
        

        function non_block(url_actual, bk){
            messages_span.innerHTML = "";
            var taskId = "{{ task_id  }}";

            if (!btn) return;
            // btn.addEventListener('click', function() {
                loading = 0;
                resultEl.innerHTML = '';
                resultEl.innerHTML = '<div class="alert alert-secondary small"> Starting... </div>';

                statusEl.classList.remove('d-none');

                
                if (bk == true){
                    // BtnStatus_Alert(running=true, start=null, end=null, func_name='backup');
                    backupBtn.disabled = true;
                    backupBtn.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Backing up...'
                    backupBtn.classList.toggle('btn-secondary')

                }else{
                    // BtnStatus_Alert(running=true, start=true, end=null, func_name='celery');
                    // BtnStatus_Alert(running=false, start=true, end=null, func_name='backup')

                    btn.disabled = true;
                    btn.innerHTML = '<span class="spinner-border spinner-border-sm me-2"></span>Running… ';
                }

                fetch(url_actual, { 
                    method: 'POST', 
                    body: new URLSearchParams({'progbar': true}), 
                    headers: { 'Accept': 'application/json' } })
                .then(r => r.json())
                .then(function(data) {
                    // console.log(data)

                    if (!data.task_id) throw new Error('No task_id');
                    // statusEl.textContent = 'Polling…';
                    poll(data.task_id, bk = true);
                })
                .catch(function(err) {
                    if (bk == true){
                        BtnStatus_Alert(start=true, start=null, end=null, func_name='backup')

                    }else{
                        // BtnStatus_Alert(start=true, start=null, end=null, func_name='celery')
                        btn.disabled = false;
                        btn.textContent = 'test DB';
                        resultEl.innerHTML = '<div class="alert alert-danger small">' + err + '</div>';
                    }
                });
            // });
        };
        // non_block();

    
        backupBtn.addEventListener('click', (e)=>{
            e.preventDefault();
            
            non_block(backup, bk=true);
            // BtnStatus_Alert(running=false, start=true, end=null, func_name='backup')

            // setTimeout(function() {
                // backupBtn.innerHTML = 'Backup Local DB to Remote';
                // backupBtn.classList.remove('btn-secondary')
                // backupBtn.classList.add('btn-primary')
            // }, 500);
        });

    </script>


</body>
</html>