.env
/venv
/instance
/migrations
.cursor/

**/__init__.py
instance/

**/__init__.py

*.pyc
__pycache__/
/__pycache__
**/__pycache__
***/__pycache__
****/__pycache__

.python-version

*.code-workspace
ashgard-todo-app.code-workspace