
#table11-gridjs td:first-child {
    text-align: left!important;
    font-weight: bold;
  }


#table10-gridjs td:first-child {
    text-align: left!important;
    font-weight: bold;
  } 

  .report-comment-body {
    overflow-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
  }