{% extends "layout.html" %}

{% block page_title %}All Departments{% endblock %}

{% block content %}
<div class="main-content">
    <div class="page-content">

        <!-- Stats Row -->
        <div class="row">
            <div class="col-xl-12">
                <div class="row">

                    <!-- Total Projects -->
                    <div class="col-xl-4 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="mb-2 text-muted font-size-15">Total Projects</h6>
                                        <h4 class="mb-0 font-size-22 fw-bold">5</h4>
                                    </div>
                                    <div class="avatar-md">
                                        <div class="avatar-title rounded bg-soft-warning">
                                            <i class="mdi mdi-clock-outline font-size-24 text-warning"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Completed Projects -->
                    <div class="col-xl-4 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="mb-2 text-muted font-size-15">Completed Projects</h6>
                                        <h4 class="mb-0 font-size-22 fw-bold">3</h4>
                                    </div>
                                    <div class="avatar-md">
                                        <div class="avatar-title rounded bg-soft-danger">
                                            <i class="mdi mdi-alert-octagon font-size-24 text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ongoing Projects -->
                    <div class="col-xl-4 col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h6 class="mb-2 text-muted font-size-15">Ongoing Projects</h6>
                                        <h4 class="mb-0 font-size-22 fw-bold">2</h4>
                                    </div>
                                    <div class="avatar-md">
                                        <div class="avatar-title rounded bg-soft-success">
                                            <i class="mdi mdi-check-decagram font-size-24 text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Table Departments -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">             

                    <div class="card-header d-flex align-items-center">

                        <div class="ms-auto d-flex gap-2">

                            <button type="button"
                                class="btn btn-primary btn-rounded"
                                data-bs-toggle="modal"
                                data-bs-target=".create-task">
                                <i class="mdi mdi-plus me-1"></i> Add Department
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="firstRowOnlyTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Department Name</th>
                                    <th>Total Members</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>MDC</td>
                                    <td>10</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LEGAL</td>
                                    <td>5</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>CYBER</td>
                                    <td>5</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Airmed</td>
                                    <td>2</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Valkyrie Security</td>
                                    <td>10</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mars Motors</td>
                                    <td>2</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lorraine Dev’t corp</td>
                                    <td>4</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Snarem Shipbuilding services</td>
                                    <td>2</td>
                                    <td>December 2017</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-light" data-bs-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></button>
                                                <div class="dropdown-menu dropdown-menu-end shadow">
                                                    <a class="dropdown-item" href="#">Edit</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <!-- Department Summary -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header align-items-center">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title mb-0">Department Projects</h4>
                            <div class="ms-auto">
                                <select id="categorySelect" class="btn btn-primary">
                                    <option value="" selected disabled hidden>View Departments</option>
                                    <option value="All">All</option>
                                    <option value="MDC">MDC</option>
                                    <option value="CYBER">Cyber</option>
                                    <option value="LEGAL">Legal</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table id="itemTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Projects</th>
                                    <th>Department</th>
                                    <th>Client</th>
                                    <th>Deadline</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr data-category="MDC">
                                    <td>#SK2540</td>
                                    <td><a href="{{ url_for('main.project_details') }}" class="text-dark fw-semibold">Osint</a></td>
                                    <td>MDC</td>
                                    <td>Kathrina</td>
                                    <td>11 / 12 / 2024 : 23:00</td>
                                    <td><span class="badge badge-soft-success">Completed</span></td>
                                </tr>

                                <tr data-category="CYBER">
                                    <td>#SK2541</td>
                                    <td><a href="{{ url_for('main.project_details') }}" class="text-dark fw-semibold">Osint</a></td>
                                    <td>CYBER</td>
                                    <td>Patrick</td>
                                    <td>11 / 11 / 2024 : 23:00</td>
                                    <td><span class="badge badge-soft-warning">Ongoing</span></td>
                                </tr>

                                <tr data-category="LEGAL">
                                    <td>#SK2542</td>
                                    <td><a href="{{ url_for('main.project_details') }}" class="text-dark fw-semibold">Osint</a></td>
                                    <td>Legal</td>
                                    <td>Neil</td>
                                    <td>11 / 12 / 2024 : 23:00</td>
                                    <td><span class="badge badge-soft-warning">Ongoing</span></td>
                                </tr>

                                <tr data-category="MDC">
                                    <td>#SK2544</td>
                                    <td><a href="{{ url_for('main.project_details') }}" class="text-dark fw-semibold">Osint</a></td>
                                    <td>MDC</td>
                                    <td>Lurs</td>
                                    <td>11 / 12 / 2024 : 23:00</td>
                                    <td><span class="badge badge-soft-success">Completed</span></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!--  Extra Large modal example -->
<div class="modal fade create-task" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="myExtraLargeModalLabel">Add Department</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-6">
                  <div class="mb-3">
                     <label class="form-label" for="CreateTask-Task-Name">Department Name</label>
                     <input type="text" class="form-control" placeholder="Enter Department Name" id="CreateTask-Task-Name">
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="mb-3">
                     <label class="form-label">Created On</label>
                     <input type="date" class="form-control" placeholder="Select Start Date" id="CreateTask-start-date" >
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="mb-3">
                     <label class="form-label">Total Members</label>
                     <input type="text" class="form-control" placeholder="Enter Total Members" id="CreateTask-due-date">
                  </div>
               </div>               
            </div>
            <div class="row mt-2">
               <div class="col-12 text-end">
                  <button type="button" class="btn btn-danger me-1" data-bs-dismiss="modal"><i class="bx bx-x me-1 align-middle"></i> Cancel</button>
                  <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn" id="btn-save-event"><i class="bx bx-check me-1 align-middle"></i> Confirm</button>
               </div>
            </div>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock content %}
