{% extends "layout.html" %}
{% block page_title %}Members{% endblock %}
   {% block content %}
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5 class="card-title">Contact List <span class="text-muted fw-normal ms-2">(834)</span></h5>
                                </div>
                            </div>

                        </div>

                        <!-- end row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-nowrap align-middle">
                                                <thead class="table-light">
                                                    <tr>                                                    
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Position</th>
                                                        <th scope="col">Department</th>
                                                        <th scope="col" style="width: 200px;">Action</th>
                                                      </tr>
                                                </thead>   
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">marilynhorton</h5>
                                                                <p class="text-muted text-truncate mb-0">Marilyn Horton</p>
                                                            </div>
                                                        </td>
                                                        <td>MarilynHorton@minible.com</td>
                                                        <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                                                        <td>Cyber Security</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
    
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">jdoe</h5>
                                                                <p class="text-muted text-truncate mb-0">John Doe</p>
                                                            </div>
                                                        </td>
                                                        <td>john.doe@example.com</td>
                                                        <td><span class="badge badge-soft-info mb-0">Frontend Developer</span></td>
                                                        <td>Cyber Security</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
    
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">mrossi</h5>
                                                                <p class="text-muted text-truncate mb-0">Mario Rossi</p>
                                                            </div>
                                                        </td>
                                                        <td>mario.rossi@example.com</td>
                                                        <td><span class="badge badge-soft-info mb-0">Frontend Developer</span></td>
                                                        <td>Mars</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">mmuster</h5>
                                                                <p class="text-muted text-truncate mb-0">Max Mustermann</p>
                                                            </div>
                                                        </td>
                                                        <td>max.mustermann@example.com</td>
                                                        <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                                        <td>Valkyrie Security</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">mjohnson</h5>
                                                                <p class="text-muted text-truncate mb-0">Michael Johnson</p>
                                                            </div>
                                                        </td>
                                                        <td>michael.johnson@example.com</td>
                                                        <td><span class="badge badge-soft-danger mb-0">Founder</span></td>
                                                        <td></td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-5.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">wjones</h5>
                                                                <p class="text-muted text-truncate mb-0">William Jones</p>
                                                            </div>
                                                        </td>
                                                        <td>wjones@example.com</td>
                                                        <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                                        <td>Mars</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">jwilliams</h5>
                                                                <p class="text-muted text-truncate mb-0">Jennifer Williams</p>
                                                            </div>
                                                        </td>
                                                        <td>jennifer.williams@example.com</td>
                                                        <td><span class="badge badge-soft-info mb-0">UI/UX Designer</span></td>
                                                        <td>Cyber Security</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-4.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">alexj</h5>
                                                                <p class="text-muted text-truncate mb-0">Alex Johnson</p>
                                                            </div>
                                                        </td>
                                                        <td>alex.johnson@example.com</td>
                                                        <td><span class="badge badge-soft-primary mb-0">Backend Developer</span></td>
                                                        <td>legal</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Accept" class="px-2 text-success"><i class="bx bxs-user-check font-size-20"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Decline" class="px-2 text-danger"><i class="bx bxs-user-x font-size-20"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
    
                                                      <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                            <img src="../static/assets/images/users/avatar-7.jpg" class="rounded-circle avatar img-thumbnail" alt="">
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="font-size-15 mb-1 text-truncate">danderson</h5>
                                                                <p class="text-muted text-truncate mb-0">Daniel Anderson</p>
                                                            </div>
                                                        </td>
                                                        <td>daniel.anderson@example.com</td>
                                                        <td><span class="badge badge-soft-success mb-0">Full Stack Developer</span></td>
                                                        <td>Ashgard</td>
                                                        <td>
                                                            <ul class="list-inline mb-0">
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Accept" class="px-2 text-success"><i class="bx bxs-user-check font-size-20"></i></a>
                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Decline" class="px-2 text-danger"><i class="bx bxs-user-x font-size-20"></i></a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                      </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <div class="row g-0 align-items-center pb-4">
                            <div class="col-sm-6">
                                <div>
                                    <p class="mb-sm-0">Showing 1 to 10 of 57 entries</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-sm-end">
                                    <ul class="pagination mb-sm-0">
                                        <li class="page-item disabled">
                                            <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                        </li>
                                        <li class="page-item active">
                                            <a href="#" class="page-link">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">4</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link">5</a>
                                        </li>
                                        <li class="page-item">
                                            <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                       

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

   {% endblock content %}