{% extends "layout.html" %}
{% block page_title %}PROJECT DETAILS{% endblock %}
   {% block content %}
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <nav aria-label="breadcrumb" class="mb-3">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ url_for('main.projects') }}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{{ url_for('main.projects') }}">Projects</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Project Details</li>
                            </ol>
                        </nav>

                        <div class="mb-3">
                            <a href="{{ url_for('main.projects') }}" class="btn btn-secondary d-inline-flex align-items-center">
                                <i class="mdi mdi-arrow-left-bold me-1"></i> Back
                            </a>
                        </div>
                        <!-- <div class="row">
                           `
                        </div> -->
                        <!-- end row -->

                        <div class="row"> 
                             <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start">
                                            <div class="flex-grow-1 overflow-hidden">
                                                <h5 class="card-title mb-4 text-truncate">Project Summary</h5>
                                            </div>
                                        </div>
                                         <div class="flex-shrink-0 ms-4">
                                            <small class="text-muted d-block mb-3">Assigned Members</small>

                                            <div class="d-flex gap-3"> <div class="d-flex flex-column align-items-center text-center">
                                                    <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="Patrick">
                                                    <div class="mt-1">
                                                        Patrick
                                                    </div>
                                                </div>

                                                <div class="d-flex flex-column align-items-center text-center">
                                                    <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="Neil">
                                                    <div class="mt-1">
                                                        Neil
                                                    </div>
                                                </div>

                                                 <div class="d-flex flex-column align-items-center text-center">
                                                    <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="Windyl">
                                                    <div class="mt-1">
                                                        Windyl
                                                    </div>
                                                </div>

                                                 <div class="d-flex flex-column align-items-center text-center">
                                                    <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="Kathrina">
                                                    <div class="mt-1">
                                                        Kathrina
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                     <div class="flex-shrink-0 ms-4 mt-4"> 
                                        <small class="text-muted">Status Breakdown</small>
                                    </div>
                                    <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-md-6">
                                                    <canvas id="pieChart" class="chartjs-chart" data-colors='["#1f58c7", "#4976cf", "#6a92e1", "#e6ecf9"]' height="260"></canvas>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="col-md-6">
                                                <div class="px-2 mt-2">
                                                    <div class="d-flex align-items-center mt-sm-0 mt-2">
                                                        <i class="mdi mdi-circle font-size-10 text-info"></i>
                                                        <div class="flex-grow-1 ms-2 overflow-hidden">
                                                            <p class="font-size-15 mb-1 text-truncate">Beauty Products</p>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-2">
                                                            <span class="fw-bold">18.6%</span>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex align-items-center mt-2">
                                                        <i class="mdi mdi-circle font-size-10 text-secondary"></i>
                                                        <div class="flex-grow-1 ms-2 overflow-hidden">
                                                            <p class="font-size-15 mb-0 text-truncate">Others Products</p>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-2">
                                                            <span class="fw-bold">21.4%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="row">
                                    <div class="col-xl-10">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="d-flex align-items-start mb-2">
                                                    <div class="flex-grow-1">
                                                        <h5 class="card-title">Project notes / Activity threads</h5>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="dropdown">
                                                            <a class="dropdown-toggle text-muted" href="#"
                                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                Today<i class="mdi mdi-chevron-down ms-1"></i>
                                                            </a>

                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="#">Yearly</a>
                                                                <a class="dropdown-item" href="#">Monthly</a>
                                                                <a class="dropdown-item" href="#">Weekly</a>
                                                                <a class="dropdown-item" href="#">Today</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row align-items-center">
                                                    <div class="col-md-5">
                                                    <div class="popular-product-img p-2">
                                                        <img src="./assets/images/product/img.png" alt="">
                                                    </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span class="badge badge-soft-primary font-size-10 text-uppercase ls-05"> Popular Item</span>
                                                        <h5 class="mt-2 font-size-16"><a href="" class="text-dark">Home & Office Chair Blue</a></h5>
                                                        <p class="text-muted">But who has any right to find chooses enjoy.</p>

                                                        <div class="row g-0 mt-3 pt-1 align-items-end">
                                                            <div class="col-4">
                                                                <div class="mt-1">
                                                                    <h4 class="font-size-16">800</h4>
                                                                    <p class="text-muted mb-1">Total Selling</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="mt-1">
                                                                    <h4 class="font-size-16">250</h4>
                                                                    <p class="text-muted mb-1">Total Stock</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-4">
                                                                <div class="mt-1">
                                                                    <a href="" class="btn btn-primary btn-sm mb-1">Buy
                                                                        Now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mx-n4 px-4" data-simplebar style="max-height: 205px;">
                                                    <div class="popular-product-box rounded my-2">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <div class="avatar-md">
                                                                    <div class="product-img avatar-title img-thumbnail bg-soft-primary border-0">
                                                                        <img src="assets/images/product/img-1.png" class="img-fluid" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="mb-1 text-truncate"><a href="" class="font-size-15 text-dark">Wood Chair dark Brown</a></h5>
                                                                <p class="text-muted fw-semibold mb-0 text-truncate">$230.00</p>
                                                            </div>
                                                            <div class="flex-shrink-0 text-end ms-3">
                                                                <h5 class="mb-1"><a href="" class="font-size-15 text-dark">$62300.00</a></h5>
                                                                <p class="text-muted fw-semibold mb-0">562 Sales</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="popular-product-box rounded my-2">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <div class="avatar-md">
                                                                        <div class="product-img avatar-title img-thumbnail bg-soft-success border-0">
                                                                            <img src="assets/images/product/img-8.png" class="img-fluid" alt="">
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="mb-1 text-truncate"><a href="" class="font-size-15 text-dark">Home & Office Chair Crime</a></h5>
                                                                <p class="text-muted fw-semibold mb-0 text-truncate">$190.00</p>
                                                            </div>
                                                            <div class="flex-shrink-0 text-end ms-3">
                                                                <h5 class="mb-1"><a href="" class="font-size-15 text-dark">$25698.00</a></h5>
                                                                <p class="text-muted fw-semibold mb-0">856 Sales</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="popular-product-box rounded my-2">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <div class="avatar-md">
                                                                    <div class="product-img avatar-title img-thumbnail bg-soft-danger border-0">
                                                                        <img src="assets/images/product/img-3.png" class="img-fluid" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="mb-1 text-truncate"><a href="" class="font-size-15 text-dark">Office Chair Blue</a></h5>
                                                                <p class="text-muted fw-semibold mb-0 text-truncate">$420.00</p>
                                                            </div>
                                                            <div class="flex-shrink-0 text-end ms-3">
                                                                <h5 class="mb-1"><a href="" class="font-size-15 text-dark">$64351.00</a></h5>
                                                                <p class="text-muted fw-semibold mb-0">524 Sales</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="popular-product-box rounded my-2">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <div class="avatar-md">
                                                                    <div class="product-img avatar-title img-thumbnail bg-soft-success border-0">
                                                                        <img src="assets/images/product/img-4.png" class="img-fluid" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="mb-1 text-truncate"><a href="" class="font-size-15 text-dark">Home & Office Chair Green</a></h5>
                                                                <p class="text-muted fw-semibold mb-0 text-truncate">$230.00</p>
                                                            </div>
                                                            <div class="flex-shrink-0 text-end ms-3">
                                                                <h5 class="mb-1"><a href="" class="font-size-15 text-dark">$96485.00</a></h5>
                                                                <p class="text-muted fw-semibold mb-0">634 Sales</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="popular-product-box rounded my-2">
                                                        <div class="d-flex align-items-center">
                                                            <div class="flex-shrink-0">
                                                                <div class="avatar-md">
                                                                    <div class="product-img avatar-title img-thumbnail bg-soft-danger border-0" >
                                                                        <img src="assets/images/product/img-5.png" class="img-fluid" alt="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1 ms-3 overflow-hidden">
                                                                <h5 class="mb-1 text-truncate"><a href="" class="font-size-15 text-dark">Wood Chair dark Brown</a></h5>
                                                                <p class="text-muted fw-semibold mb-0 text-truncate">$230.00</p>
                                                            </div>
                                                            <div class="flex-shrink-0 text-end ms-3">
                                                                <h5 class="mb-1"><a href="" class="font-size-15 text-dark">$56230.00</a></h5>
                                                                <p class="text-muted fw-semibold mb-0">964 Sales</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-xxl-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-wrap align-items-center mb-3">
                                                <h5 class="card-title me-2">TASKS</h5>
                                                <div class="ms-auto">
                                                 <div class="pb-3 pb-xl-0">
                                                        <form class="email-search">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control bg-light" placeholder="Search...">
                                                                <span class="bx bx-search font-size-18"></span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mx-n4 px-4" data-simplebar style="max-height: 332px;">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-centered align-middle table-nowrap mb-0 table-check">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th style="width: 30px;">
                                                                    <div class="form-check font-size-16">
                                                                        <input type="checkbox" name="check" class="form-check-input" id="checkAll">
                                                                        <label class="form-check-label" for="checkAll"></label>
                                                                    </div>
                                                                </th> -->
                                                                <th>Task Name</th>
                                                                <th style="width: 190px;">Owner</th>
                                                                <th>Status</th>
                                                                <th>Tasks</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="fw-semibold">API integration</td>
                                                                <td style="width: 190px;">
                                                                    <div class="d-flex align-items-center">
                                                                        <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="">
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Patrick
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="badge badge-soft-danger font-size-12">Rejected</div>
                                                                </td>
                                                                <td>
                                                                    4/5
                                                                </td>
                                                            </tr>   
                                                            
                                                            <tr>
                                                                <td class="fw-semibold">Login Interface</td>
                                                                <td style="width: 190px;">
                                                                    <div class="d-flex align-items-center">
                                                                        <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="">
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Neil
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="badge badge-soft-primary font-size-12">To be Reviewed</div>
                                                                </td>
                                                                <td>
                                                                    4/4
                                                                </td>
                                                       
                                                            </tr>   

                                                            <tr>
                                                                <td class="fw-semibold">UI</td>
                                                                <td style="width: 190px;">
                                                                    <div class="d-flex align-items-center">
                                                                        <img class="rounded-circle avatar-sm" src="assets/images/users/avatar-1.jpg" alt="">
                                                                        <div class="flex-grow-1 ms-3">
                                                                            Kath
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="badge badge-soft-success font-size-12">Approved</div>
                                                                </td>
                                                                <td>
                                                                    4/6
                                                                </td>                       
                                                            </tr>   
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </div>
                        <!-- end row -->

                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

             
            </div>
   {% endblock content %}